<div class="row">
      
      

    <div id="contact" class="col-sm-6">
            
        <div class="cont-contact">

            <h2 class="titulo">CONTACT</h2>

            <div class="logos d-flex">
                <a href="https://wa.me/54351055411"><img src="../../../assets/img/whatsapp.png" alt="whatsapp"> </a>
                <a href="mailto:cruzmaribel013@gmail.com"><img src="../../../assets/img/email.png" alt="email"></a>
                <a href=""><img src="../../../assets/img/linkedin.png" alt="linkedin"></a>
                <a href="https://www.instagram.com/cruzmabi/"><img src="../../../assets/img/instagram (1).png" alt="instagram"></a>
            </div>
            
        </div>

    </div>

    <div class="col-sm-6">

    </div>

</div>
