 <div class="row">

      <div id="home" class="col-sm-6">

          <div class="cont-home ">

              <h2 class="titulo">HOME</h2>
                  
              <div class="cont-presen-home">
                      
                  <div class="presentacion-home"> 
                      <h1>¡Hola!</h1>
                      <p>Soy una Full Stack Developer</p>
                  </div>
                      
                  <img class="imagen-home" src="../../../assets/img/foto perfil.jpg" alt="">
              </div>
  
  
          </div>
      </div>
  
          <div class="col-sm-6">
  
          </div>

  

  </div>
