<div class="row">
      
    <div class="col-sm-6">
            
    </div>

    <div id="about" class=" col-sm-6">
        
        <div class="cont-about">

            <h2 class="titulo">ABOUT</h2>
            
            <div class="presentacion-about">

                <h3 >¡HOLA! MI NOMBRE ES  </h3>
                <h3 class="nombre">MARIBEL CRUZ</h3>

            </div>
        
            <div class="texto-about">

                <p>Comencé a incursionar en el mundo de la programación hace un año. Actualmente soy estudiante FULL STACK DEVELOPER, del programa nacional "Argentina Programa".</p>

                <p>Tengo especial interés en los lenguajes y programas que me ayuden a desarrollarme como FROND END, ya que soy cretiva. Me gusta diseñar y organizar.</p>

            </div>


        </div>

    </div>


</div>
