<div class="row">
      
      

    <div class="col-sm-6">
            
    </div>

    <div id="education" class="col-sm-6">

        <div class="cont-education">
            
            <h2 class="titulo" >EDUCATION</h2>
            
            <div class="info1-education">
                
                <img class="img-flor" src="../../../assets/img/flor.png" alt="icono flor">

                <div class="parrafos1-education">

                    <p>Formación autodidacta.</p>
                    <p>2021</p>
                    <p>Videos de youtube, udemy, sitios de desarrollo web, apps</p>

                </div>

            </div>


            <div class="info2-education">

                <img class="img-flor" src="../../../assets/img/flor.png" alt="icono flor">

                <div class="parrafos2-education">

                    <p>Argentina programa.</p>
                    <p>2022</p>
                    <p>Curso de desarrollo web Full Stack</p>

                </div>

            </div>


        </div>


    </div>

    

</div>
