<div class="row">
     

    <div id="skills" class="col-sm-6">
           
        <div class="conte-skills col-sm-12 col-md-10 col-lg-10 col-xl-10">
        
            <h2>SKILLS</h2>

            <div class="html d-flex">

                <p>HTML</p>
                <img src="../../../assets/img/flor.png" alt="flor">
                <img src="../../../assets/img/flor.png" alt="flor">
                <img src="../../../assets/img/flor.png" alt="flor">
                <img src="../../../assets/img/flor.png" alt="flor">
                <img src="../../../assets/img/flor.png" alt="flor">

            </div>

            <div class="css d-flex">

                <p>CSS</p>
                <img src="../../../assets/img/flor.png" alt="flor">
                <img src="../../../assets/img/flor.png" alt="flor">
                <img src="../../../assets/img/flor.png" alt="flor">
                <img src="../../../assets/img/flor.png" alt="flor">

            </div>

            <div class="boostrap d-flex">
                
                <p>BOOSTRAP</p>
                <img src="../../../assets/img/flor.png" alt="flor">
                <img src="../../../assets/img/flor.png" alt="flor">

            </div>
            
            
        </div>



    </div>

    <div class="col-sm-6">

    </div>

    

</div>
